my_spot_env/*
python/get_robot_state/spot_description/*
python/get_robot_state/franka_description/meshes/*
*.npy
python/get_robot_state/data/*
python/get_robot_state/preprocessed_data/*
python/get_robot_state/gouger_logs/*